
@font-face {
    font-family: mainFont;
    src: url(/space-age.regular.ttf);
}

iframe {
    border-radius: 15px;
}

body {
    text-align: center;
    background-color: black;
    color: whitesmoke;
    font-family: mainFont;
}

.topnav {
    background-color: #333;
    overflow: hidden;
    border-radius: 15px;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 15px;
}

.topnav a:hover {
    background-color: rgb(177, 224, 235);
    color: black;
    font-weight: bolder;
}
  
.topnav a.active {
    background-color: rgb(1, 208, 255);
    color: black;
}

.cbox {
    width: 600px;
    border: 10px solid rgb(82, 82, 82);
    padding: 50px;
    margin: 20px;
    border-radius: 15px;
    width: auto;
}

.cboxm {
    width: 600px;
    border: 5px solid rgb(82, 82, 82);
    padding: 50px;
    margin: 20px;
    border-radius: 5px;
    width: auto;
}

.ol,li,h4 {
    list-style: none;
}

.nusar1slp1 {
    border-radius: 15px;
    text-align: center;
}

.nusam1p1 {
    border-radius: 15px;
    text-align: center;
}

.orsllh {
    padding-left: 50px;
}

.orsllrh {
    padding-left: 50px;
}

.orh {
    padding-left: 50px;
}

.ytlinksimg {
    size:50%;
}

.popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
  }

.popup .popuptext {
        visibility: hidden;
        width: 160px;
        background-color: #555;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 8px 0;
        position: absolute;
        z-index: 1;
        bottom: 125%;
        left: 50%;
        margin-left: -80px;
}
    
.popup .popuptext::after {
        content: "";
        position: absolute;
        top: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: #555 transparent transparent transparent;
}
    
.popup .show {
        visibility: visible;
        -webkit-animation: fadeIn 1s;
        animation: fadeIn 1s
}
    
@-webkit-keyframes fadeIn {
        from {opacity: 0;}
        to {opacity: 1;}
}
    
@keyframes fadeIn {
        from {opacity: 0;}
        to {opacity:1 ;}
}

a:link {
        color: white;
        background-color: transparent;
        text-decoration: none;
}
    
a:visited {
        color: rgb(255, 255, 255);
        background-color: transparent;
        text-decoration: none;
}
    
a:hover {
        color: rgb(221, 183, 183);
        background-color: transparent;
        text-decoration: none;
        font-weight: bolder;
}
    
a:active {
        color: rgb(187, 186, 186);
        background-color: transparent;
        text-decoration: none;
}

